service: sls 

frameworkVersion: '2'

custom:
  settings:
    COLUMNS_TABLE: columns
    CARDS_TABLE: cards

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221
  environment: ${self:custom.settings}
  region: us-east-2
  iamRoleStatements:
    - ${file(iam/ColumnsTableIAM.yml):ColumnsTableIAM}
    - ${file(iam/CardsTableIAM.yml):CardsTableIAM}

resources:
  Resources:
    ColumnsTable: ${file(resources/ColumnsTable.yml):ColumnsTable}
    CardsTable: ${file(resources/CardsTable.yml):CardsTable}

functions:
  createColumn: ${file(functions/Columns.yml):createColumn}
  getColumns: ${file(functions/Columns.yml):createColumns}
  getColumn: ${file(functions/Columns.yml):createColumn}
  updateColumn: ${file(functions/Columns.yml):createColumn}
  deleteColumn: ${file(functions/Columns.yml):createColumn}

  createCard: ${file(functions/Cards.yml):createCard}
  getCards: ${file(functions/Cards.yml):getCards}
  getCard: ${file(functions/Cards.yml):getCard}
  updateCard: ${file(functions/Cards.yml):updateCard}
  deleteCard: ${file(functions/Cards.yml):deleteCard}

plugins:
  - serverless-offline
  